<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant Detail</title>
</head>
<body>
    <div th:replace="head"></div>
    <div class="container">
        <H3 class="text-center">Applicant Details</H3>

        <div th:replace="applicantDetailTableFragment"></div>

        <H3 class="alignt-content-center">Job Offers Match</H3>

        <table class="table">
            <thead >
            <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Contact Information</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jobOffer : ${jobOfferList}">
                <td th:text="${{jobOffer.companyName}}">13/01/2011</td>
                <td th:text="${{jobOffer.companyContactNumber}}">yes</td>
            </tr>
            </tbody>
        </table>
        <div th:replace="footer"></div>

    </div>
</body>
</html>